p {
    background-color: rgb(72, 255, 0);
}

.introduction {
    border: 5px dotted rgb(214, 24, 24);
    color: brown;
}

.mainPart {
    font-size: 20px;
    font-weight: bold;
    color: green;
    text-align: center;
}

.ending {
    background-color: blue;
    padding-top: 50px;
    text-align: right;
}